/* Product Compare Styles */
#wpc-compare-notification {
    position: fixed;
    top: 20px;
    right: -300px;
    width: 280px;
    background-color: #fff;
    border: 1px solid #ddd;
    box-shadow: 0 4px 8px rgba(0,0,0,0.2);
    padding: 15px;
    z-index: 9999;
    transition: right 0.4s ease;
    font-family: Arial, sans-serif;
}

#wpc-compare-notification.show {
    right: 20px;
}

#wpc-compare-notification button {
    background-color: #0073aa;
    color: #fff;
    border: none;
    padding: 8px 12px;
    cursor: pointer;
    margin-right: 10px;
}

#wpc-compare-notification a {
    color: #0073aa;
    text-decoration: none;
    font-weight: bold;
}

.compare-grid {
    display: grid;
    grid-template-columns: 1fr 1fr; 
}
.compare-item {
    display: flex;
    flex-flow: column;
}

.product-info {
    display: flex;
    flex-flow: column;
    justify-content: center;
    align-items: center;
    min-height: 500px;
    padding: 12px;
    border-bottom: 1px solid #dddddd69;
    position: relative;
}

.compare-item:first-child .product-info {
    border-left: 1px solid #dddddd69;
}

.product-info h5 {
    font-weight : 400;
    font-size: 16px;
}

.product-info .add-to-cart-form .add-to-cart-button {
    background-color : #ef4056;
    color : white;
    border-radius: 12px;
    height: 40px;
    font-size: 12px;
}

.wpc-product-price .regular-price.woocommerce-Price-amount {
    text-decoration: line-through;
    margin-left: 8px;
    color: #81858b;
    font-size: 12px;
}

.product-attributes {
    /* background-color: #f2f2f2; */
    padding: 15px;
    border-radius: 5px;
}

.product-image {
    max-width: 500px;
    max-height: 300px;
    margin-bottom: 15px;
}


button.wpc-remove-product {
    background-color: #d2d2d2;
    color: white;
    width: 10px;
    height: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 12px;
    cursor: pointer;
    padding: 10px;
    position: absolute;
    top: 8px;
    left: 24px;
}



/* Loading  */
#loading-overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 9999;
}

#loading-spinner {
    border: 4px solid #f3f3f3;
    border-top: 4px solid #3498db;
    border-radius: 50%;
    width: 50px;
    height: 50px;
    animation: spin 1s linear infinite;
}

@keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
}




/* Admin Setting */
.wpc-input-container {
    display: flex;
    align-items: center;
    margin-bottom: 10px;
}

.wpc-input {
    width: 200px; 
    margin-right: 10px; 
}

.wpc-checkbox {
    margin-left: 10px; 
}

.wpc-checkbox-label {
    margin-right: 5px; 
}
